@model QuestionList

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using(Html.BeginForm("CheckResult","Question"))
{
    @Html.EditorFor( x => x.QuestionWithAnswers)
    <button type="submit">OK</button>

}




